@using (Html.BeginForm())
{
    <p>@ViewBag.Title</p>
    <p>Enter a mark in rangee 1 and 10 and click "Go".<br />
    Response under box</p>
    <br/>
    @Html.TextBox("textField")
    <input type="submit" value="Go" />
    <br/><br/>
    @ViewBag.ResponseText

    <br/><br/><br/><br/>
    @Html.ActionLink("Home", "SendLinks", "Home")
}
