@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SendLinks</title>
</head>
<body>
    <div>
        <li>@Html.ActionLink("SendAndBlock", "Index", "SendAndBlock")</li>
      <li>@Html.ActionLink("SendAsync", "Index", "SendAsync")</li>
    </div>
</body>
</html>
